<form [formGroup]="kegForm" (ngSubmit)="onSubmit()">
  
        <label>
            Beer Name
            <input type="text" formControlName="beername">
        </label>
      
        <label>
          Keg Number
          <input type="number" formControlName="kegnum">
        </label>
      
        <label>
            Keg Capacity
            <input type="number" formControlName="kegcapacity">
         </label>
         <label>
            IBU
            <input type="number" formControlName="ibu">
        </label>   
        <button type="submit" [disabled]="!kegForm.valid">Submit</button>

</form>